<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div id="game">
  <!-- Scoreboard -->
  <div style="font-size: 2em;">
    Dealer 0 vs Player 0
  </div>

  <!-- Game Table -->
  <div>
    <!-- Dealer Section -->
    <div>
      <div class="score">-</div>
      <div>DEALER CARD</div>
    </div>

    <!-- Player Section -->
    <div>
      <div class="score">-</div>
      <div>PLAYER CARD</div>
    </div>
  </div>

  <!-- Dashboard -->
  <div>
    <div class="message">Message for Player</div>
    <button class="btn">DEAL</button>
    <button class="btn">HIT</button>
    <button class="btn">STAND</button>
    <div class="message">Player Cash $100</div>
    <input type="number" style="width: 4em; font-size: 1.4em; margin-top: 1em;" value="0">
    <button class="btn">Bet Amount</button>
  </div>
</div>



<router-outlet></router-outlet>
